@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    border: 2px;
    background-color: #9CB2CE;
}

/*INTRO PAGE*/

#intro {
    margin: 10vw;
}

#intro h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    font-weight: 400;
}

#intro h2 {
    padding-top: 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5vw;
}

#intro a {
    font-size: 3vw;
    font-weight: 400;
    height: auto;
    margin-left: 3vw;
    padding: 1vw;
    text-decoration: none;
    border: transparent;
    border-radius: 5px;
}

.access {
    display: flex;
    flex-direction: row;
    margin-left: 12vw;
}

/*NAVIGATION STYLE*/
#navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}

.logo {
height: auto;
width: 3vw;
}

nav {
    height: 4vw;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
}

a {
    font-family: 'Roboto', sans-serif;
    align-self: baseline;
    background-color: #29487D;
    font-size: 1vw;
    font-weight: 400;
    color: white;
    padding: 0.5vw;
    height: auto;
    margin: 1vw;
    text-decoration: none;
    border: transparent;
    border-radius: 5px;
}

nav a :hover {
    background-color: reds;

}

nav button {
    height: auto;
    margin-left: 1vw;
}

/*Typography*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
} 

.feed h1 {
    text-align: center;
}

.feed p {
    text-align: center;
    margin-top: 3vw;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 500;
}

/*Buttons*/

.signupBTN {
    background-color: #29487D;
    padding: 0.5vw;
    color: white;
    border: transparent;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.loginBTN {
    background-color: #29487D;
    padding: 0.5vw;
    color: white;
    border: transparent;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.uploadBTN {
    background-color: #29487D;
    padding: 0.5vw;
    color: white;
    border: transparent;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.cancelBTN {
cursor: pointer;
background-color: black;
color: #efefef;
border-radius: 0.2vw;
padding: 0.5vw;
height: 2.5vw;
}

.editBTNS {
    display: flex;
    flex-direction: row;
}

/*Form*/

.tweet_wrapper {
    height: auto;
    width: 30vw;
    background-color: white;
    padding: 1vw;
    border-radius: 10px;
    margin-top: 2vw;
    margin-left: 5vw;
}

.login_wrapper {
    height: auto;
    width: 30vw;
    background-color: white;
    padding: 3vw;
    border-radius: 10px;
    margin-top: 5vw;
    margin-left: 35vw;
}

/*SIGN UP*/

.signup_wrapper {
    height: auto;
    width: 30vw;
    background-color: white;
    padding: 3vw;
    border-radius: 10px;
    margin-top: 5vw;
    margin-left: 35vw;
}

.signup2_wrapper {
    height: auto;
    width: 34vw;
    background-color: darkblue;
    color: white;
    padding: 3vw;
    border-radius: 10px;
    margin-top: 5vw;
    margin-left: 35vw;
}

.title {
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
    margin-top: 5vw;
}

/*Form Inputs*/

label {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.5vw;

}

input {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    margin-bottom: 1vw;
    height: 2.5vw;
    width: 20vw;
    border-radius: 5px;
    border: transparent;
    -webkit-box-shadow: -5px 6px 15px -5px #000000; 
box-shadow: -3px 3px 7px -4px #000000;
}

#upload_image input {
    height: 1.6vw;
    width: 10vw;
    border-radius: 5px;
}

textarea {
    width: 25vw;
    height: 8vw;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

/*TWEETS*/

#tweets {
height: 100vw;
width: 100%;
}

.tweet_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tweets section {
    background-color: rgb(15, 23, 49);
    border-radius: 0.5vw;
    margin: 2vw;
    padding: 1vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

#aside_left {
    position: absolute;
    width: 20vw;
    height: 40vw;
    margin-left: 5vw;
    margin-top: 5vw;
}

#aside_left h1 {
    font-size: 3vw;
    font-weight: 500;
}

#aside_right {
    position: absolute;
    width: 20vw;
    height: 20vw;
    padding: 0.5vw;
    background-color: #FEFEFE;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin-left: 75vw;
    margin-top: 5vw;
}

#aside_right div {
    font-size: 1.5vw;
    font-weight: 400;margin-bottom: 1vw;
}

#search {
    position: absolute;
    width: 20vw;
    height: auto;
    margin-left: 75vw;
    margin-top: 2vw;
}

.feed {
    position: absolute;
    width: 40vw;
    height: auto;
    margin-left: 30vw;
    margin-top: 2vw;
}

/*Modal*/

.modal {
    position: absolute;
    z-index: 1000;
    height: auto;
    width: 30vw;
    background-color:#29487D;
    color: #efefef;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding: 1vw;
    border-radius: 10px;
    top: 25vw;
    left: 35vw;
    opacity: 100%;
}

.modal_container {
    display: none;
    backdrop-filter: blur(6px);
    width: 100vw;
    height: 100vh;
}

.hide_el {
    display: none;
}

.checkSEC {
    display: flex;
    flex-direction: row;
}

#updated_image img {
    width: 2vw;
    height: auto;
}


/*GLOBAL FEED*/

.global_feed {
    position: absolute;
    width: 40vw;
    height: auto;
    margin-left: 30vw;
    margin-top: 2vw;
}

.global_feed section {
    background-color: #29487D;
    margin-bottom: 3vw;
    border-radius: 1vw;
    padding: 1vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.global_feed section p {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 2vw;
}

.userInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userName {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.followee {
    display: none;
}


/*IMAGES*/

img {
    height: auto;
    width: 25vw;

}

/*Admin*/

.admin_login_wrapper {
    height: auto;
    width: 30vw;
    background-color: darkblue;
    color: white;
    padding: 3vw;
    border-radius: 10px;
    margin-top: 5vw;
    margin-left: 35vw;
}

.admin_login_wrapper h1 {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2vw;
}

.admin_title {
    text-align: center;
    margin-top: 5vw;
    font-size: 3vw;
    font-weight: 400;
}
