<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>{{ get ("title", "Admin Panel")}}</title>
</head>

<body>
    <header>
        <div id="navbar">
            <div class="logo">
                <h1>FKTweet</h1>
            </div>
            <nav>
                <a id="logoutBTN" href="/logout">Log Out</a>
            </nav>
    </header>
    <main>
        <section id="aside_left">
            <h1>This is what happens in the world right now</h1>
        </section>

        <div class="global_feed">

            %for user in users:
            <div>
                <p>{{user["user_firstname"]}}</p>

                <div>
                    %for tweet in tweets:

                    <section id="{{tweet['id']}}" class="tweet">
                        <div class="userInfo">
                            <div class="">{{tweet["iat"]}}</div>
                            <div class="userName">
                                <div class="">{{tweet["user_firstname"]}}</div>
                                <div class="">{{tweet["user_lastname"]}}</div>
                            </div>
                        </div>
                        <p class="">{{tweet["text"]}}</p>
                        <article id="btn_holder">
                            <button onclick="delete_tweet(`{{tweet['id']}}`)">🗑️</button>
                        </article>

                    </section>

                    %end
                </div>
            </div>
            %end
        </div>

    </main>

    % include("footer")