% include("header", title="FKTwitter")

<main>
    <section id="aside_left">
        <div id="options">
            <h2>Content Here</h2>
        </div>
    </section>

    <div class="global_feed">
    <h1>This is what happens in the world right now</h1>

    %for user in users: 
    <div>
        % if sessionID == user["user_id"]:
        <div id="{{user['user_id']}}">
            <p>{{user["user_firstname"]}}</p>
        </div>
        % else:
        
            % for relation in followees:
            
                % if user["user_id"] == relation["followee"] and sessionID == relation["follower"]:
                
                        <div id="{{user['user_id']}}">
                            <p>{{user["user_firstname"]}}</p>
                            <p>You're following this user</p>
                        </div>
                    
                    
                
                %elif sessionID == relation["follower"] : 
                q
                %elif user["user_id"] == relation["followee"] : 
                        g
                %else : 


                    
                        <div id="{{user['user_id']}}">
                            <p>{{user["user_firstname"]}}</p>
                            <form onsubmit="follow_user(); return false " class="">
                                <input type="text" name="followee_id" class="followee" value="{{user['user_id']}}"></input>
                                <input type="text" name="followee_name" class="followee" value="{{user['user_firstname']}}">
                                <input type="submit">Follow</input>
                            </form>
                            nooooooo
                        </div>
                    
                %end

                
            %end
            %if  followees == [] :
            <div id="{{user['user_id']}}">
                <p>{{user["user_firstname"]}}</p>
                <form onsubmit="follow_user(); return false " class="">
                    <input type="text" name="followee_id" class="followee" value="{{user['user_id']}}"></input>
                    <input type="text" name="followee_name" class="followee" value="{{user['user_firstname']}}">
                    <input type="submit">Follow</input>
                    yessss
                </form>
            </div>
                    
            %end
            
        %end
        <div>
            %for tweet in tweets:
            
            % if tweet["user_id"] == user["user_id"]:

            %if tweet['image']:

            <section id="${tweet_id}" class="tweet">
                <div class="">{{tweet["iat"]}}</div>
                <div class="">{{tweet["user_firstname"]}}</div>
                <div class="">{{tweet["user_lastname"]}}</div>
                <p class="">{{tweet["text"]}}</p>
                <img src="/images/{{tweet['image']}}" alt="">
            </section>

            % else: 


            <section id="${tweet_id}" class="tweet">
                <div class="">{{tweet["iat"]}}</div>
                <div class="">{{tweet["user_firstname"]}}</div>
                <div class="">{{tweet["user_lastname"]}}</div>
                <p class="">{{tweet["text"]}}</p>
            </section>
            %end
            %end
            %end
        </div>
    </div>
    %end
    </div>

    <section id="aside_right">
        <div>Your curently following:</div>
        % for relation in followees:
        %if sessionID == relation["follower"]:
        <div>
            
            <p>{{relation["followee_name"]}}</p>

        </div>
        %end
        %end
    </section>
        
</main>


% include("footer")