% include("header", title="FKTwitter")

<main>
    <section id="aside_left">
        <h1>This is what happens in the world right now</h1>
    </section>

    <div class="global_feed">

        %for user in users:


        % followed ="false"

        %for followee in session["followees"] :
        %if user["user_id"] == followee["followee"]:
        % followed ="true"
        %end
        %end

        <div>
            % if session["user_id"] == user["user_id"]:
            <div id="{{user['user_id']}}">
                <p>{{user["user_firstname"]}}</p>
            </div>
            % else:
            <div id="{{user['user_id']}}">
                <p>{{user["user_firstname"]}}</p>
                %if session["followees"] == [] :

                <form onsubmit="follow_user(); return false " class="followF">
                    <input type="text" name="followee_id" class="followee" value="{{user['user_id']}}"></input>
                    <input type="text" name="followee_name" class="followee" value="{{user['user_firstname']}}">
                    <input type="submit" value="Follow"></input>
                </form>
                %elif followed=="false":

                {{followed}}
                q
                <form onsubmit="follow_user(); return false " class="">
                    <input type="text" name="followee_id" class="followee" value="{{user['user_id']}}"></input>
                    <input type="text" name="followee_name" class="followee" value="{{user['user_firstname']}}">
                    <input type="submit" value="Follow"></input>
                </form>

                %end

            </div>

            %end

            <div>
                %for tweet in tweets:

                % if tweet["user_id"] == user["user_id"]:

                %if tweet['image']:

                <section id="${tweet_id}" class="tweet">
                    <div class="tweet_head">
                        <div class="">{{tweet["iat"]}}</div>
                        <div>
                            <div class="">{{tweet["user_firstname"]}}</div>
                            <div class="">{{tweet["user_lastname"]}}</div>
                        </div>
                    </div>
                    <p class="">{{tweet["text"]}}</p>
                    <img src="/images/{{tweet['image']}}" alt="">
                </section>

                % else:


                <section id="${tweet_id}" class="tweet">
                    <div class="tweet_head">
                        <div class="">{{tweet["iat"]}}</div>
                        <div>
                            <div class="">{{tweet["user_firstname"]}}</div>
                            <div class="">{{tweet["user_lastname"]}}</div>
                        </div>
                    </div>
                    <p class="">{{tweet["text"]}}</p>
                </section>
                %end
                %end
                %end
            </div>
        </div>
        %end
    </div>

    <section id="aside_right">
        <div>Your curently following:</div>
        %for followee in session["followees"] :
        {{followee["followee_name"]}}

        %end

    </section>

</main>


% include("footer")