<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>{{ get ("title", "Title unavailable")}}</title>
</head>

<body>
    <div id="navbar">
        <div class="logo">
            <h1>FKTweet</h1>
        </div>
        <nav>
            <a href="/admin_login">Admin</a>
            <a href="/login">Log In</a>
            <a href="/signUp">SignUp</a>
        </nav>
    </div>