<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>{{ get ("title", "Title unavailable")}}</title>
</head>

<body>

    <div id="intro" class="intro">
        <h1>Welcome to Fake Tweeter, a safe place for our fake community of fake users. Post only your honest thoughts.
            No one will see them anyway.</h1>
        <h2>Create an account now</h2>
        <div class="access">
            <a href="/signUp">Signup</a>
            <a href="/login">Log In</a>
            <a href="/admin_login">Log in Admin</a>
        </div>
    </div>

    % include("footer")