% include("header2", title="Feed")

<main>
    <h1 class="admin_title">
        Welcome User! Log in here:
    </h1>
    <div class="login_wrapper">
        <form action="/login" method="Post">
            <div>
                % if error == "user_email":
                <h1>Please enter a valid email</h1>
                %end
                <label>Email</label>
                <input type="text" name="user_email" placeholder="Email" id="emailinput">
            </div>

            <div>
                % if error == "user_password":
                <h1>Please enter a valid password</h1>
                %end
                <label>Password</label>
                <input type="password" name="user_password" placeholder="Password" id="passwordinput">
            </div>
            <button class="loginBTN">LogIn</button>
        </form>
    </div>

</main>

% include("footer")