% include("header", title="Feed")

<main>
    <section id="aside_left">
        <div id="options">
            <h2>Content Here</h2>
        </div>
    </section>

    <div class="feed">
        <h1>This is what happens in the world right now</h1>
        <div class="tweet_wrapper">
            <form onsubmit="validate(postTweet); return false " class="">
                <div>
                    <div id="buildMain">
                        <label for="tweet_text">Tweet It!</label>
                        <textarea class="" type="text" name="tweet_text" id="tweet_text"
                            placeholder="Share your thoughts here" data-validate="str" data-min="1"
                            data-max="400"></textarea>
                    </div>
                    <div id="upload_image" class="">
                        <label for="upload_image" class="">Upload Image</label>
                        <input type="file" id="upload_image" name="tweet_image" accept="image">
                    </div>
                    <div>
                        <button class="uploadBTN">Post</button>
                    </div>
                </div>
            </form>
        </div>

        % if tweets == []:
        <div>
            <p>
                Nothing was posted today
            </p>
        </div>
        % end

        <div id="tweets">

            %for tweet in tweets:

            %if tweet["user_id"] == user_id:

            %if tweet['image']:

            <section id="{{tweet['id']}}" class="tweet">
                <div class="">{{tweet["iat"]}}</div>
                <div class="">{{tweet["user_firstname"]}}</div>
                <div class="">{{tweet["user_lastname"]}}</div>
                <p class="">{{tweet["text"]}}</p>
                <img src="/images/{{tweet['image']}}" alt="">

                <article id="btn_holder">
                    <button onclick="delete_tweet(`{{tweet['id']}}`)">🗑️</button>
                    <button
                        onclick="open_modal(`{{tweet['text']}}`,`{{tweet['id']}}`, `true`, `/images/{{tweet['image']}}`)">✏️</button>
                </article>
            </section>

            %else:

            <section id="{{tweet['id']}}" class="tweet">
                <div class="">{{tweet["iat"]}}</div>
                <div class="">{{tweet["user_firstname"]}}</div>
                <div class="">{{tweet["user_lastname"]}}</div>
                <p class="">{{tweet["text"]}}</p>
                <article id="btn_holder">
                    <button onclick="delete_tweet(`{{tweet['id']}}`)">🗑️</button>
                    <button onclick="open_modal(`{{tweet['text']}}`,`{{tweet['id']}}`, `false`)">✏️</button>
                </article>
            </section>
            %end
            %end
            %end
        </div>
    </div>

    <section id="aside_right">
        <div>
            <h2>Content here</h2>
        </div>
    </section>

</main>
<div class="modal_container">
    <div class="modal">
        <form onsubmit="validate(updateTweet); return false" class="">
            <div>
                <div id="buildMain">
                    <input type="text" name="tweet_id" id="tweet_id_container"></input>
                    <label for="tweet_text">Update your tweet here</label>
                    <textarea class="" type="text" name="updated_tweet_text" id="update_text"
                        placeholder="Share your thoughts here" data-validate="str" data-min="1"
                        data-max="400"></textarea>
                </div>
                <div id="upload_image" class="">
                    <div id="image_update_container">
                        <img src="" id="updated_image" alt="">
                        <input type="checkbox" id="image_checkbox" name="image_check">
                        <label for="image_checkbox">Do you want to delete the image?</label>
                    </div>
                </div>
                <div>
                    <input type="submit" class="updateBTN">Update</input>
                    <div class="cancelBTN">Cancel</div>
                </div>
            </div>
        </form>
    </div>
</div>

% include("footer")